.title {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 50px;
}
.bg {
  position: relative;
}
.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.model {
  position: relative;
  background-image: url(../../public/glassesImage/model.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 400px;
  margin: 50px auto;
  box-shadow: rgba(126, 12, 141, 0.43) 0px 1px 4px,
    rgb(194, 22, 206) 0px 0px 0px 3px;
}

.glassesInfor {
  background-color: rgba(87, 1, 78, 0.564);
  display: block;
  position: absolute;
  height: 28%;
  width: 100%;
  bottom: 0;
}
.glassesList {
  background-color: rgba(215, 165, 199, 0.2);
  border-radius: 12px;
  padding: 30px;
  height: 340px;
}

.glassesPick img {
  width: 50%;
  margin-top: 20%;
}
